<div class="Home-page">
  <div class="intro-content">
          <h1>Hi!!</h1>
          <h2>Welcome to </h2>
          <h3 style="color:Orange">MySchool</h3>
          <p>The HTML tag is used to embed an image in a web page.
                  Images are not technically inserted into a web page; images are linked to web
                  pages. The tag creates a
                  holding
                  space for the referenced image.
                  The tag is empty, it contains attributes only, and does not have a closing tag.
                  The HTML tag is used to
                  embed an image in a web page.
                  Images are not technically inserted into a web page; images are linked to web
                  pages. The tag creates a
                  holding
                  space for the referenced image.
                  The tag is empty, it contains attributes only, and does not have a closing tag.
          </p>
          <div class="signup-buttons">
                  <button onclick="document.getElementById('id01').style.display='block'">Sign
                          Up</button>
          </div>
  </div>
</div>
<div class="home-content">
  <div class="content-image">
          <img src="https://www.usnews.com/object/image/00000175-c364-db19-a3ff-d7754cd00000/201113-studying-stock.jpg?update-time=1605300999567&size=responsive970">
  </div>
</div>