<div class="navbar">
  <a routerLink="">MySchool</a>
  <div class="dropdown">
                <button class="dropbtn" onclick="document.getElementById('id02').style.display='block'"
                  style="width:auto; ">Sign In
                </button>
        </div>
        <div class="dropdown">
                <button class="dropbtn">Grade 12
                        <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                        <a routerLink="/grade12/accounting">Accounting</a>
                        <a routerLink="/grade12/lifescience">Life Sciences</a>
                        <a routerLink="/grade12/mathematics">Mathematics</a>
                        <a routerLink="/grade12/physicalscience">Physical Sciences</a>
                </div>
        </div>
        <div class="dropdown">
                <button class="dropbtn">Grade 11
                        <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                        <a routerLink="/grade11/accounting">Accounting</a>
                        <a routerLink="/grade11/lifescience">Life Sciences</a>
                        <a routerLink="/grade11/mathematics">Mathematics</a>
                        <a routerLink="/grade11/physicalscience">Physical Sciences</a>
                </div>
        </div>
        <div class="dropdown">
                <button class="dropbtn">Grade 10
                        <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                        <a routerLink="/grade10/accounting">Accounting</a>
                        <a routerLink="/grade10/lifescience">Life Sciences</a>
                        <a routerLink="/grade10/mathematics">Mathematics</a>
                        <a routerLink="/grade10/physicalscience">Physical Sciences</a>
                </div>
        </div>
</div>