
<div class="tab">
  <button class="tablinks" onclick="openYear(event, '2022')" id="defaultOpen">2022</button>
  <button class="tablinks" onclick="openYear(event, '2021')">2021</button>
  <button class="tablinks" onclick="openYear(event, '2020')">2020</button>
  <button class="tablinks" onclick="openYear(event, '2019')">2019</button>
  <button class="tablinks" onclick="openYear(event, '2018')">2018</button>
  <button class="tablinks" onclick="openYear(event, '2017')">2017</button>

</div>
<div id="2022" class="grid-container">
  <div class="grid-item">
       <h1>Life Science</h1>
       <p>Province:Limpopo</p>
       <p> Time of exam</p>
       <p>paper : 01</p>
       <button>Download</button>
       <button><a class='button' style="text-decoration:none ;color:black"
                 href="">Discussion</a></button>
  </div>
</div>

