.signin input[type=text],
.signin input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
}

.container .avatar {
     width: 100px;
     height: 100px;
     border-radius: 10%;
     display: block;
          margin-left: auto;
          margin-right: auto;
}
.signin button {
            background-color: orange;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
}

.signin button:hover {
            opacity: 0.8;
}

.signin .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
}

.signin .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
}



.signin .container {
            padding: 16px;
}

.signin span.psw {
            float: right;
            padding-top: 16px;
}

.signin {
            display: none;
            position: fixed;
            z-index: 1;
            left:0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            padding-top: 60px;
}

.signin .signin-content {
            background-color: black;
            margin-top: 10%;
            margin-left: 70%;
            border: 2px solid orange;
            width: 20%;
          opacity: 0.7;
}

.signin .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
}

.signin .close:hover,
.signin .close:focus {
            color: red;
            cursor: pointer;
}

@-webkit-keyframes animatezoom {
            from {
                        -webkit-transform: scale(0)
            }

            to {
                        -webkit-transform: scale(1)
            }
}

@keyframes animatezoom {
            from {
                        transform: scale(0)
            }

            to {
                        transform: scale(1)
            }
}


@media screen and (max-width: 300px) {
           .signin span.psw {
                        display: block;
                        float: none;
            }

            .signin .cancelbtn {
                        width: 100%;
            }
}
@media screen and (max-width: 500px) {
            .signin .signin-content {
                        width: 80%;
            }
}